body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo{
    font-style:italic;
}

.principal{
    background-color: gray;
    padding-bottom: 20px;
    margin: 0 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}