@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background: #eeeeee;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 20px 0;
}

.header{
    margin-top: 0;
    padding-top: 20px;
    background: #e8f3f2;
}

.bloco{
    display: flex;
    justify-content: center;
    text-align: center;
}

.botao{
    background-color: #3359ec;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.796);
}

.botao:hover{
    background-color: #5673ee;
    transition: 0.25s;
    transform: scale(1.05);
}

.tabela{
    border: 1px solid #adadad;
    border-spacing: 0;
    margin: 0 50px 20px;
    width: 100%;
}

.tabela tr:nth-child(even) td{
    background-color: white;
}

.tabela td{
    padding: 10px;
}

.tabela_header td{
    font-weight: bold;
}

#apresentacao{
    display: block;
    background: #d1d4da;
    margin-top: 20px;
    padding-top: 5px;
    margin-left: 125px;
    height: 575px;
    width: 1100px;
    font-size: 25px;
}

#random_filmes{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}

.imagem:hover{
    background: rgb(176, 255, 244);
    transform: scale(1.1);
    transition-duration: 0.5s;
    background: #9eacc4
}

#imagemSingle{
    max-height: 400px;
}

.form{
    width: 600px;
}

.form_imput{
    align-items: center;
    justify-content: space-between;
}

.form_imput label{
    font-weight: bold;
    padding-right: 10px;
}

.form_imput input[type=text]{
    width: 450px;
    padding: 6px;
    margin: 6px 0;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.form_imput[type=submit]{
    align-items: center;
}

.novo_id{
    background: #3359ec;
    border-radius: 5px;
    color: white;
    font-size: 20px;

}